In [120]:
import dash
from dash import html 
from dash import dcc
import pandas_datareader.data as web
import datetime
import os
import pandas as pd

In [131]:
tickers = {
    'Hyundai Rotem' : '064350',
    'Samsung' : '005930',
    'Philoptics' : '161580',
    'Alteogen' : '196170',
    'HB Technology' : '078150'
    }

In [132]:
start = dt.datetime(2020, 1, 1)
end = dt.datetime(2020, 12, 31)

In [133]:
df = pd.DataFrame()
for i in tickers.values():
    sub = pd.DataFrame(web.DataReader(i, 'naver', start='2019-01-01', end='2019-03-01'))
    sub['Ticker'] = i
    df = pd.concat([df,sub])

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 195 entries, 2019-01-02 to 2019-02-28
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    195 non-null    object
 1   High    195 non-null    object
 2   Low     195 non-null    object
 3   Close   195 non-null    object
 4   Volume  195 non-null    object
 5   Ticker  195 non-null    object
dtypes: object(6)
memory usage: 10.7+ KB

In [135]:
reverse_tickers = {v: k for k, v in tickers.items()}

In [136]:
df['Company'] = df['Ticker'].map(reverse_tickers)

In [137]:
data = df

In [138]:
data.reset_index(inplace = False)

          Date   Open   High    Low  Close   Volume  Ticker        Company
0   2019-01-02  28350  28550  26650  26750  1621370  064350  Hyundai Rotem
1   2019-01-03  27000  29150  26650  28450  2698290  064350  Hyundai Rotem
2   2019-01-04  28200  28300  27600  28100  1072464  064350  Hyundai Rotem
3   2019-01-07  28600  28850  28200  28250  1105569  064350  Hyundai Rotem
4   2019-01-08  28450  29450  28350  28700  2009963  064350  Hyundai Rotem
..         ...    ...    ...    ...    ...      ...     ...            ...
190 2019-02-22   3850   3960   3810   3900  1487860  078150  HB Technology
191 2019-02-25   3905   4175   3905   3990  5484191  078150  HB Technology
192 2019-02-26   3990   4000   3775   3815  3250663  078150  HB Technology
193 2019-02-27   3815   3815   3700   3765  1573367  078150  HB Technology
194 2019-02-28   3715   3850   3620   3625  1722462  078150  HB Technology

[195 rows x 8 columns]

In [139]:
data.to_csv('NaverStock.csv')

In [144]:
data.Company.unique()[0]

'Hyundai Rotem'